  <!-- Twitter card support -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="{% if page.meta %}{{ page.meta | markdownify | strip_html | strip_newlines | truncate: 160 | escape_once }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="twitter:title" content="{% if page.title %}{{ page.title | smartify | strip_html | strip_newlines | escape_once }}{% else %}{{ site.name }}{% endif %}" />
  <meta name="twitter:site" content="@{{ site.twitter_username | replace:'@','' }}" />
  <meta name="twitter:creator" content="@{{ site.twitter_username }}" />
  <!--meta name="twitter:url" content="{{ page.url | replace:'/index.html','/' | prepend: site.baseurl | prepend: site.url }}"-->
  <meta name="twitter:url" content="{{ page.url | replace:'/index.html','/' | prepend: site.baseurl | prepend: site.url | bitly }}">

  <!-- Social buttons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">