---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
 {% if page.author %}
    <span class="post-author">{{ page.author }}</span>
  {% endif %}
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div class="sharing">
  <ul>
    <li>
      <i class="fa fa-share-square-o"></i>
    </li>
    <li>
      <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Twitter">
        <i class="fa fa-twitter-square"></i>
      </a>
    </li>
    <li>
      <a href="http://www.linkedin.com/shareArticle?url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ page.meta }}" rel="nofollow" target="_blank" title="Share on LinkedIn">
        <i class="fa fa-linkedin-square"></i>
      </a>
    </li>
    <li>
      <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">
        <i class="fa fa-google-plus-square"></i>
      </a>
    </li>
    <li>
      <a href="http://reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Share on Reddit">
        <i class="fa fa-reddit-square"></i>
      </a>
    </li>
  </ul>
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

{% if page.comments %}
  <div id="disqus_thread"></div>
    <script>
      /**
       *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
       *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */

      var disqus_config = function () {
          this.page.url = "{{ site.url }}{{ page.url }}";
          this.page.identifier = "{% if page.disqus_identifier %}{{ page.disqus_identifier}}{% else %}{{ site.url }}{{ page.url }}{% endif %}";
      };

      var disqus_developer = 1;

      (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = '//geovation-technical-blog.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();

      (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'https://geovation-technical-blog.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="https://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  {% endif %}

  <script id="dsq-count-scr" src="//geovation-technical-blog.disqus.com/count.js" async></script>
